<div class="row">
  <div class="twelve panel columns">

    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :url %><br />
        <%= f.text_field :url, :placeholder => "Type or paste the link here" %>
      </div>
      <div class="field">
        <%= f.label :title %> <br/>
        <%= f.text_field :title, :placeholder => "You may add a custom title here" %>
      </div>
      <div class="field">
        <%= f.label :description %><br/>
        <%= f.text_area :description, :placeholder => "You may add a custom description here"  %>
      </div>
      <% 
      # Support dropped for custom thumbnail
      # <div class="field">
      # = f.label :thumbnail_url  # this requires a closing bracket if uncommented
      # <br />
      # = f.text_field :thumbnail_url # this requires a closing bracket if uncommented
      # </div>
      %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    
  </div>
</div>