<div class="row">
    <div class="large-12 panel columns roundly" style="">  
        <% if @first #or @last %>
        <div class="row post_block" style="border: none;">
        <% else %>
        <div class="row post_block" style="border: none;">
        <% end %>
            <div class="large-12 columns">
                <% # i use polymorphic_url instead of link_to so it doesnt generate </a> and to generate the rails 3 version of url_for for the post, which includes the full url (including http), not just path %>
                <% if post.is_embeddable %>                
                    <a href="<%= polymorphic_url post %>" onclick="openModal('<%= "#{view_post_path(post.id)}" %>'); return false;" class="post_block">
                <% else %>
        <!-- data-reveal-id="myModal" data-reveal-ajax="true" -->
          <!-- </a> -->
                    <a href="<%= polymorphic_url post %>" class="post_block">
                <% end %>
                <article>
                <% # the post css class will make posts div change color with mouse over %>
                    <div class="row post">         
                    <!-- ID: <%= post.id %> -->
                    <% # If thumbnail url is available %>
                    <div class="large-12 columns post_title_box">
                        <div class="row">
                                <div class="large-12 columns">     
                                    <h4 class="post_title"><%= post.query_title %></h4>
                                </div>
                        </div>                              
                    </div>

                    <!-- second column -->

                    <div class="row">
                        <div class="large-12 columns post_info" >
                            <% if post.thumbnail_url.to_s.length > 0 %>
                                <% if post.thumbnail_url[-3..-1] == "gif" %>
                                    <%=  image_animation post, post.thumbnail_url %>
                                <% else %>
                                    <%=  image_tag post.thumbnail_url, :class => 'thumbnail' %> 
                                <% end %>
                            <% elsif post.url.to_s.length > 0 %>
                                <% if post.url[-3..-1] == "gif" %>
                                    <%=  image_animation post, post.url %>
                                <% elsif post.url[-3..-1] == "jpg" or post.url[-3..-1] == "png" %>
                                    <%=  image_tag post.url, :class => 'thumbnail' %> 
                                <% end %>
                            <% end %>
                        </div>
                    </div>                                                

                <%= raw "</a></article>" %>

                        <div class="row">
                            <div class="large-12 columns post_domain">        
<hr>                                
                                 <strong><%= post.domain.to_s.capitalize %></strong> 
                                 <% if post.domain.to_s.length > 0 %> 
                                    &there4;
                                 <% end %>
                                 <span class="views"><%= post.views.nil? ? "0" : post.views %></span> views &there4;                             
                                <% #if post.updated_at > post.created_at %>
                                 <!-- updated <time datetime="<%# post.updated_at %>" update></time> 
                                 <%#time_ago_in_words(post.updated_at) %> ago -->
                                <% #end %>
                                <time datetime="<%= post.created_at %>" pubdate></time><%= time_ago_in_words(post.created_at) %> ago by <strong><%= post.user_id %></strong>
                                </time>
                                <strong>Anonymous</strong>                        
                            </div>
                        </div>

            </div>



        <% # don't include add this content for now %>
        <% if false %>
                    <div class="large-3 columns post_menu">
                        <div class="row">
                            <div class="large-12 columns">
                                <!-- 
                                    We must customize AddThis with the following:
                                    <div addthis:url="<%# polymorphic_url post %>" addthis_title="<%# post.query_title %>"  
                                -->
                                    <div class="row">
                                        <div class="large-12 columns share_menu" style="padding-left: 30px;">

                                                    <!-- AddThis Button BEGIN -->
                                                        <div addthis:url="<%= polymorphic_url post %>" addthis_title="<%= post.query_title %>"  class="addthis_toolbox addthis_default_style addthis_32x32_style">                                    
                                                            <a class="addthis_button_preferred_1"></a>
                                                            <a class="addthis_button_preferred_2"></a>
                                                            <a class="addthis_button_preferred_3"></a>
                                                            <a class="addthis_button_preferred_4"></a>                                                    
                                                            <a class="addthis_button_compact"></a>
        <!--                                                     <a class="addthis_counter addthis_bubble_style"></a>                                     -->
                                                        </div>
                                                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=mindware"></script>                </div>
                                    </div>    

                                        <!-- AddThis Button END -->
                             </div>
                        </div>
                    </div>

        <% end %>
            <!--     <div class="three columns post_menu" style="display: none;">

                    <div class="row">         
                        <div class="large-12 columns item">
                            <div class="row">
                                <div class ="large-12 columns">                        
                                    <%= image_tag "icons/globeviews.png", :width => "25px", :height => "25px", :style => "float: left"%>
                                    <span class="post_info">
                                        <% # post.views.nil? ? "0" : post.views %>
                                    </span>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns item last">
                            <div class="row">
                                <div class ="large-12 columns">
                                    <%= image_tag "icons/heart.png", :width => "25px", :height => "25px", :style => "float: middle;"%>
                                    <span class="post_info">
                                        <% # post.views.nil? ? "0" : (post.views / 8 ) + 1 %>
                                    </span>                        
                                </div>                                    
                            </div>
                        </div>
                    </div>
             
                </div>     -->   
        </div>
</div>
</div>

