<!-- <h2><%= @post.title %></h2> -->
 	<a class="close-reveal-modal round secondary label" style="padding-left: 3px; padding-right: 3px;">&#215;</a>
<%
	if(@post.is_embeddable)
%>
		<div style="padding-top: 25px; margin-top: 5px;"></div>
		<div class="<%= get_css_classes(@post.auto_embed, @post) %>">
			<% 
				# if (@post.url.length > 3) 
					# if this is an image, don't use auto embed, use our loading js library
					# if (@post.url[-4..-1] == ".jpg" or @post.url[-4..-1] == ".gif" or @post.url[-4..-1] == ".png" or @post.url[-5..-1] == ".jpeg") 
			#
			# 			<img id="image_<%= @post.id %>" src="">
			# 					<script type="text/javascript">
			# 						// load the image
			# 						// loadImage("<% = @post.url % >", "image_<% = @post.id % >");
			# 						alert('we should the image here');
			# 					</script>						
			# 
					# else
			%>
						<%= raw @post.get_embed %>
			<%
					# end
			   #end 
			%>
		</div>
	   <div>
	        <br/>
	        <%= link_to 'View Comments', post_path %> | 
	        <%= link_to 'Edit', edit_post_path(@post) %> | 
	        <%= link_to 'Delete', @post, confirm: 'This cannot be undone. Are you sure?', method: :delete %>	        
	    </div>
	  </div> 

<%
	else
%>
<%=		@post.url		%>
<% 	end 				%>